<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1920" height="1080" scale="4" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="true" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MainMap.tmx" />
		<entities>
			<player x="3041" y="3584" w="32" h="32" texture="Assets/Characters/AnimationSpriteSheet.png" gravity="true">
				<animations>
					<walk loop="true" speed="0.1">
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
					</walk>
					<idle loop="true" speed="0.1">
						<frame x="0" y="0" w="32" h="32" />
					</idle>
				</animations>
				<combat health="100" maxHealth="150" attackPoints="50" defensePoints="50" />
			</player>
			<enemies>
				<Cannibal name="Cannibal" x="2700" y="3180" w="32" h="32" speed ="2" texture="Assets/Characters/AnimationSpriteSheet.png" gravity="true" SpawnRate="3" HelpDistance="10">
					<animations>
						<walk loop="true" speed="0.1">
							<frame x="32" y="160" w="32" h="32" />
							<frame x="64" y="160" w="32" h="32" />
							<frame x="96" y="160" w="32" h="32" />
							<frame x="128" y="160" w="32" h="32" />
						</walk>
						<idle loop="true" speed="0.1">
							<frame x="0" y="160" w="32" h="32" />
						</idle>
					</animations>
					<combat health="100" maxHealth="150" attackPoints="25" defensePoints="50" />
				</Cannibal>
				<Narcissist name="Narcissist" x="2700" y="3180" w="32" h="32" speed ="2" texture="Assets/Characters/AnimationSpriteSheet.png" gravity="true" SpawnRate="1" HelpDistance="3">
					<animations>
						<walk loop="true" speed="0.1">
							<frame x="32" y="192" w="32" h="32" />
							<frame x="64" y="192" w="32" h="32" />
							<frame x="96" y="192" w="32" h="32" />
							<frame x="128" y="192" w="32" h="32" />
						</walk>
						<idle loop="true" speed="0.1">
							<frame x="0" y="192" w="32" h="32" />
						</idle>
					</animations>
					<combat health="100" maxHealth="150" attackPoints="25" defensePoints="50" />
				</Narcissist>
			</enemies>
			<NPCs>
				<NPC name="Sally" x="0" y="0" w="32" h="32" speed ="0.1" texture="Assets/Characters/AnimationSpriteSheet.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</NPC>
				<NPC name="Billy" x="3105" y="2592" w="32" h="32" speed ="0.01" texture="Assets/Characters/AnimationSpriteSheet.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="64" w="96" h="96" />
						</idle>
					</animations>
				</NPC>
				<NPC name="Henry" x="2369" y="2913" w="32" h="32" speed ="0.01" texture="Assets/Characters/AnimationSpriteSheet.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
							<frame x="64" y="32" w="32" h="32" />
							<frame x="32" y="32" w="32" h="32" />
						</idle>
					</animations>
				</NPC>
			</NPCs>
			<items>
				<MixedMeat name="MixedMeat" x="0" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="heal" amount="25" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</MixedMeat>
				<AnimalSkin name="AnimalSkin" x="0" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="heal" amount="10" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="16" y="0" w="16" h="16" />
						</idle>
					</animations>
				</AnimalSkin>
				<HumanFlesh name="HumanFlesh" x="32" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="heal" amount="15" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="32" y="0" w="16" h="16" />
						</idle>
					</animations>
				</HumanFlesh>
				<Eye name="Eye" x="48" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Upgrade"/>
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="48" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Eye>
				<Sedative name="Sedative" x="64" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Narcotic" amount="50" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="64" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Sedative>
				<CookedMixedMeat name="CookedMixedMeat" x="80" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="heal" amount="25" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="80" y="0" w="16" h="16" />
						</idle>
					</animations>
				</CookedMixedMeat>
				<CookedAnimalSkin name="CookedAnimalSkin" x="96" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="heal" amount="10" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="96" y="0" w="16" h="16" />
						</idle>
					</animations>
				</CookedAnimalSkin>
				<CookedHumanFlesh name="CookedHumanFlesh" x="112" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="heal" amount="15" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="112" y="0" w="16" h="16" />
						</idle>
					</animations>
				</CookedHumanFlesh>
				<Sizors name="Sizors" x="128" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Weapon" amount="50" />
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="128" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Sizors>
				<Torch name="Torch" x="144" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Equipable"/>
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="144" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Torch>
				<Alpha name="Alpha" x="160" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Puzzle"/>
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="160" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Alpha>
				<Beta name="Beta" x="176" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Puzzle"/>
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="176" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Beta>
				<Omega name="Omega" x="192" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Puzzle"/>
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="192" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Omega>
				<Sigma name="Sigma" x="208" y="0" w="16" h="16" texture="Assets/Items/Items.png">
					<effect type="Puzzle"/>
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="208" y="0" w="16" h="16" />
						</idle>
					</animations>
				</Sigma>
			</items>
		</entities>
	</scene>
	<dialogueSystem textBoxBg="Assets/UI/Dialogue Box.png" />
</config>
