<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1920" height="1080" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="true" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MainMap.tmx" />
		<entities>
			<player x="2609" y="3192" w="32" h="32" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
						<frame x="192" y="0" w="32" h="32" />
						<frame x="224" y="0" w="32" h="32" />
						<frame x="256" y="0" w="32" h="32" />
					</idle>
				</animations>
				<combat health="100" maxHealth="150" attackPoints="25" defensePoints="50" />
			</player>
			<enemies>
				<Cannibal name="Cannibal" x="2700" y="3180" w="32" h="32" speed ="0.01" texture="Assets/Textures/player/Idle.png" gravity="true" SpawnRate="3" HelpDistance="10">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
					<combat health="100" maxHealth="150" attackPoints="25" defensePoints="50" />
				</Cannibal>
				<Narcissist name="Narcissist" x="2700" y="3180" w="32" h="32" speed ="1" texture="Assets/Textures/player/Idle.png" gravity="true" SpawnRate="1" HelpDistance="3">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
					<combat health="100" maxHealth="150" attackPoints="25" defensePoints="50" />
				</Narcissist>
			</enemies>
			<NPCs>
				<NPC name="Sally" x="0" y="0" w="32" h="32" speed ="0.01" texture="Assets/Textures/player/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</NPC>
				<NPC name="Billy" x="3105" y="2592" w="32" h="32" speed ="0.01" texture="Assets/Textures/player/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</NPC>
				<NPC name="Henry" x="2369" y="2913" w="32" h="32" speed ="0.01" texture="Assets/Textures/player/Idle.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</NPC>
			</NPCs>
		</entities>
	</scene>
	<dialogueSystem textBoxBg="Assets/Textures/textBox.png" />
</config>
